 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
     background-color: #252422;
 }

 .search-bar {
     background-color: transparent;
     border-radius: 20px;
     border: 1px solid #EB5E28;
     height: 50%;
     margin-top: 3px;
 }

 .search-input {
     position: relative;
     border-radius: 20px;
 }

 .search-input .form-control {
     box-shadow: none;
     line-height: 20px;
     padding-left: 35px;
 }

 .search-input .form-control::placeholder {
     color: #EB5E28;
 }

 .search-input .input-group-text {
     position: absolute;
     left: 0%;
     top: 50%;
     transform: translateY(-50%);
 }

 .search-input .form-control:focus {
     outline: none;
 }

 #search-results {
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background-color: #252422;
     border-radius: 4px;
     list-style-type: none;
     padding: 0;
     margin: 0;
     max-height: 200px;
     overflow-y: auto;
     z-index: 3;
 }

 #search-results div {
     padding: 10px;
     cursor: pointer;
 }

 #search-results div:hover {
     background-color: #403D39;
 }

 #movies-list {
     display: flex;
     overflow-x: auto;
     flex-wrap: nowrap;
     margin-left: 10px;
     /*height: 70vh;*/
 }

 .spinner-container {
     height: 50vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .lds-dual-ring {
     display: inline-block;
     width: 80px;
     height: 80px;
 }
 .lds-dual-ring:after {
     content: " ";
     display: block;
     width: 64px;
     height: 64px;
     margin: 8px;
     border-radius: 50%;
     border: 6px solid #fff;
     border-color: #EB5E28 transparent #EB5E28 transparent;
     animation: lds-dual-ring 1.2s linear infinite;
 }
 @keyframes lds-dual-ring {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }


 .title, #title-input {
     color: #EB5E28;
 }

 .top-header {
     background-color: #252422;
     padding-top: 3em;

 }

 h2 {
     font-family: 'Climate Crisis', cursive;
     color: #EB5E28;
     z-index: 3;
 }

 h4 {
     font-family: 'Climate Crisis', cursive;
     color: black;
 }

 nav {
     margin-bottom: 2em;
 }


 a, a:hover {
     color: #EB5E28;
     font-family: 'Work Sans', sans-serif;
 }


 .navbar-collapse a:hover {
     color: lightgrey;
 }

 .navbar {
     border-top: 1px solid #ea5e27;
     border-bottom: 1px solid #ea5e27;
 }

 .hero-image {
     width: 100vw;
     object-fit: cover;
     height: 65vh;

 }

 .footer {
     background-color: #FFFCF2;
 }

 .footer a, p:nth-child(1){
     color: #403D39;
 }

 .footer p:nth-child(2) {
     color: #7B766F;
 }

 .bottom-part {
     background-color: #FFFCF2;
     color: black;
     padding-top: 2em;
     font-family: 'Work Sans', sans-serif;
 }

 h4 {
     font-size: 2.5em;
 }

 .genre-container {
     margin-bottom: 4em;
 }

 .fa-search, .card-title {
     color: #EB5E28 !important;
 }

 h3 {
     color: #EB5E28;
     margin-left: 8px;
 }

 .movie-details {
     /*height: 400px;*/
 }

 .poster {
     height: 75px;
     width: 50px;
 }

 /* width */
 ::-webkit-scrollbar {
     height: 8px;
     width: 8px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px #7B766F;
     border-radius: 10px;
     margin-inline: .5em;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #EB5E28;
     border-radius: 10px;
 }


 .edit-icon, .delete-icon, .fa-star {
     color: #FFFCF2;
 }

 .card-bottom {
     background-color: #1D1D1D;
 }

 #top-rated-tv-series-list {
     display: flex;
     overflow-x: auto;
     flex-wrap: nowrap;
     margin-left: 10px;
 }

 #top-rated-movies-list {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        margin-left: 10px;
 }

 #trending-movies-list {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        margin-left: 10px;
 }

 .top-rated-poster {
     height: 25%;
     width: 25%;
     margin-right: 10px;
 }

 .modal-content {
     background-color: #252422;
 }

 strong {
     color: #EB5E28;
 }

 span {
     color: white;
 }

 @media (max-width: 992px) {
     .card-img-top {
         height: 300px;
         width: 215px;
     }
     .top-rated-poster {
         height: 55%;
         width: 55%;
         margin-right: 10px;
     }
     h3 {
         font-size: 1.5em;
     }
 }


 @media (min-width: 992px) {
     .card-img-top {
         height: 400px;
         width: 275px;
     }

 }

 @media (min-width: 1500px) {
     .card-img-top {
         height: 525px;
         width: 325px;
     }
 }

