* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    background-color: #252422;
    padding-top: 5em;
}

.sub-header p {
    margin: 0;
}

h2 {
    font-family: 'Climate Crisis', cursive;
    color: #EB5E28;
    z-index: 3;
}

h4 {
    font-family: 'Climate Crisis', cursive;
    color: black;
}

nav {
    margin-bottom: 2em;
}


a, a:hover {
    color: #EB5E28;
    font-family: 'Work Sans', sans-serif;
}


.navbar-collapse a:hover {
    color: lightgrey;
}

.navbar {
    border-top: 1px solid #ea5e27;
    border-bottom: 1px solid #ea5e27;
}

.hero-image {
    width: 100vw;
    object-fit: cover;
    height: 65vh;

}

.rounded-bottom {
    background-color: #FFFCF2;
    height: 100vh;
}

.footer a, p:nth-child(1){
    color: #403D39;
}

.footer p:nth-child(2) {
    color: #7B766F;
}

.bottom-part {
    background-color: #FFFCF2;
    color: black;
    padding-top: 2em;
    font-family: 'Work Sans', sans-serif;
}

.genre h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.genre p {
    font-size: 1em;
    color: #63605B;
}

h4 {
    font-size: 2.5em;
}

.genre-container {
    margin-bottom: 4em;
}


@media (max-width: 992px) {
    .sub-header p {
        color: #EB5E28;
        font-size: 1.25em;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    .sub-header {
        display: block;
    }
    h2 {
        text-align: center;
        font-size: 3em;
    }
    h4 {
        font-size: 1.65em;
    }

}


@media (min-width: 992px) {
    .sub-header p {
        color: #ea5e27;
        font-size: 1.25em;
        margin-left: 6em;
        font-family: 'Oswald', sans-serif;
    }
    .sub-header {
        display: flex;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    h2 {
        font-size: 4em;
    }
}




