:root {
    --background-color: #1D1D1D;
    --text-color: #FAF8FF;
    --accent-color: #D83A23;
    --secondary-color: #e1dfe5;
    --card-title-color: #FF0000;
    --search-results-background: #1e1e1e;
    --scrollbar-track-shadow: inset 0 0 5px grey;
    --scrollbar-thumb-color: #D83A23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5em;
    color: var(--accent-color);;
    font-size: 5rem;
}

h3 {
    color: #D3D6DB;
}

.poster {
    height: 475px;
    width: 325px;
    margin-right: 10px;
}

#now-playing-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#upcoming-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#popular-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#top-rated-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#movie-poster-modal {
    height: 50%;
    width: 50%;
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
}

strong {
    color: var(--scrollbar-thumb-color);
    letter-spacing: 1px;
}