:root {
    --background-color: #1D1D1D;
    --text-color: #FAF8FF;
    --accent-color: #D83A23;
    --secondary-color: #e1dfe5;
    --card-title-color: #FF0000;
    --search-results-background: #1e1e1e;
    --scrollbar-track-shadow: inset 0 0 5px grey;
    --scrollbar-thumb-color: #D83A23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5em;
    color: var(--accent-color);;
    font-size: 2rem;
}

.top-header {
    background-color: #252422;
    padding-top: 5em;
}

h2 {
    font-family: 'Climate Crisis', cursive;
    color: #EB5E28;
    z-index: 3;
}

h4 {
    font-family: 'Climate Crisis', cursive;
    color: black;
}

nav {
    margin-bottom: 2em;
}

.sub-header p {
    color: #EB5E28;
    font-size: 1.25em;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #EB5E28;
    font-family: 'Work Sans', sans-serif;
}

a:hover {
    color: lightgrey;
}

.navbar {
    border-top: 1px solid #ea5e27;
    border-bottom: 1px solid #ea5e27;
}

.search-bar {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    height: 50%;
    margin-top: 3px;
    width: 50%;
}

.search-input {
    position: relative;
    border-radius: 20px;
}

.search-input .form-control {
    box-shadow: none;
    line-height: 20px;
    padding-left: 35px;
}

.search-input .form-control::placeholder {
    color: var(--text-color);
}

.search-input .input-group-text {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.search-input .form-control:focus {
    outline: none;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--search-results-background);
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 3;
}

#search-results div {
    padding: 10px;
    cursor: pointer;
}

#search-results div:hover {
    background-color: grey;
}

h3 {
    color: #D3D6DB;
}

.poster {
    height: 14%;
    width: 14%;
    margin-right: 10px;
    transition: transform 0.1s ease-in-out;
}

.poster:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#now-playing-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#upcoming-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#trending-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#popular-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#top-rated-movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#favorites-container {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#movie-poster-modal {
    height: 50%;
    width: 50%;
}

#top-rated-tv-series-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

#movies-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
}

strong {
    color: var(--scrollbar-thumb-color);
    letter-spacing: 1px;
}

.row {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.row::-webkit-scrollbar {
    display: none;
}

.modal-body {
    max-height: 75vh;
    overflow-y: auto;
}

.poster-image {
    height: 7%;
    width: 7%;
    margin-right: 5px;
}

.card-img-top {
    height: 18%;
    width: 18%;
    max-width: 100%;
}

.hero-image {
    width: 100vw;
    object-fit: cover;
    height: 65vh;

}

.rounded-bottom {
    background-color: #FFFCF2;
    height: 100vh;
}

.footer a, p:nth-child(1){
    color: #403D39;
}

.footer p:nth-child(2) {
    color: #7B766F;
}

.bottom-part {
    background-color: #FFFCF2;
    color: black;
    padding-top: 2em;
    font-family: 'Work Sans', sans-serif;
}

.genre h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 15px;
}


.genre p {
    font-size: 1em;
    color: #63605B;
}

h4 {
    font-size: 2.5em;
}

.genre-container {
    margin-bottom: 4em;
}


@media (max-width: 992px) {
    .sub-header p {
        color: #EB5E28;
        font-size: 1.25em;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    .sub-header {
        display: block;
    }
    h2 {
        text-align: center;
        font-size: 3em;
    }
    h4 {
        font-size: 1.65em;
    }

}


@media (min-width: 992px) {
    .sub-header p {
        color: #ea5e27;
        font-size: 1.25em;
        margin-left: 6em;
        font-family: 'Oswald', sans-serif;
    }
    .sub-header {
        display: flex;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    h2 {
        font-size: 4em;
    }
}




